.device-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d0d0d0;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.device-info > p:first-of-type {
  font-weight: bold;
  font-size: 16px;
  color: #2b4259;
}

.device-small {
  font-size: 14px;
}
