.device-item {
  border: 1px solid #2b4259;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  position: relative;
}

.delete-device-item {
  position: absolute;
  right: 10px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.device-item-type {
  color: #2b4259;
}

.error {
  color: red;
  text-align: center;
  margin: 1rem;
}
