nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  background: #2b4259;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

ul > li {
  margin: 0;
  padding: 0.8rem;
}

ul > li:not(:last-child) {
  margin-right: 0.5rem;
}

ul > li > a {
  color: white;
  text-decoration: none;
}

ul > li > a:hover {
  color: #3ba1c4;
}
